*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#barra{
    padding: 5px 85px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A7571C;
}

#barra .primero{
    color: #fff;
    font-size: 25px;
}

.input_search{
    width: 500px;
    height: 40px;
    padding-left: 10px;
    border-radius: 5px 0px 0px 5px;
    border-style: none;

}

.btn_lupa{
    border-radius: 10px; 
    background-color: #fff;
    border-style: none;
}

.btn_lupa i{
    color: orange;
    font-size: 25px;
    padding-right: 7px;

}

.segundo{
    margin-left: -20px;
}

.tercero{
    display: flex;
}

.tercero .btn_lupa{
    border-radius: 0px 5px 5px 0px;
    margin-left: -5px;
}

.cuarto, .quinto{
    color: #fff;
    font-size: 18px;
    padding-right: 20px;
    border-right: 1px solid #645e5e;
    
}

.cuarto a{
    text-decoration: none;
    color: white;
}

.sexto{
    color: #fff;
    font-size: 18px;
    padding: 2px;
}

.cuarto i, .quinto i, .sexto i{
    margin-right: 10px;
}

.primero a{
    margin-right: 20px;
}

.title_name .title_name_first{
    height: 70px;
    background-color: #6A2112;
    color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.title_name .title_name_first:hover{
    font-size: 22px;
    transition: all 1.3s ease;
}

main{
    background-color: #A7571C;
}

main article h2{
    text-align: center;
    padding-top: 8px;
}

main article h2:hover{
    color:aliceblue;
    transition: all 1.3s ease;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    background-color: white;
    width: 270px;
    height: 500px;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.06);
    transition: all 1.1s ease;
}


.card-image{
    background-color: #645e5e;
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.card button{
    padding: 10px;
    background-color: #6A2112;
    border-radius: 12px;
    border-color: none;
    border-style: none;
    color:#fff;
}

.card-1{
    background-image: url('../images/ruge.jpg');
}

.card-2{
    background-image: url('../images/habitos.jpg');
}

.card-3{
    background-image: url('../images/diario_ha.jpg');
}

.card-4{
    background-image: url('../images/volver.jpg');
}

.card-5{
    background-image: url('../images/ana_frank.jpg');
}

.card-6{
    background-image: url('../images/miche_obama.jpg');
}

.card-7{
    background-image: url('../images/prince.jpg');
}

.card-8{
    background-image: url('../images/la_magia_casa.jpg');
}
.card-9{
    background-image: url('../images/odisea_juan.jpg');
}

.card-10{
    background-image: url('../images/pupitre.jpg');
}

.card-11{
    background-image: url('../images/jujutsu_kaisen.jpg');
}

.card-12{
    background-image: url('../images/spy.jpg');
}

#Pie{
    height: 90px;
    background-color: #6A2112;
    display: flex;
    justify-content:center;
    align-items:center;
    color:#fff;
}